.el-input .el-input__prefix {
  left: 10px !important;
}

.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 14px;
}

.el-card {
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,.1) !important;
  min-height: 600px;
}

.el-table {
  margin-top: 15px;
  font-size: 12px;
}

th {
  text-align: center !important;
}

td  {
  text-align: center !important;
}

.el-pagination {
  margin-top: 15px;
}

.title {
  display: inline-block;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 20px !important;
}


.el-steps {
  margin: 20px 0 !important;
}

.el-step__title {
  font-size: 13px;
}

/*富文本编辑器*/
.ql-editor {
  min-height: 300px;
}